font.choose_table, font.number_of_table
{
    font-family: Times, serif;
}

font.number_of_table
{
    color: white;
}

div.no_one_here
{
    border: 2px solid #3F9384;
    background: grey;
}

div.in_process_of_cooking
{
    border: 2px solid #3F9384;
    background: #3F9384;
}

div.dish_is_ready
{
    border: 2px solid #3F9384;
    background: red;
}

@media (min-width: 576px)
{
    font.number_of_table, font.choose_table
    {
        font-size: 13px;
    }
}

@media (min-width: 768px)
{
    font.number_of_table, font.choose_table
    {
        font-size: 27px;
    }
}

@media (min-width: 992px)
{
    font.number_of_table, font.choose_table
    {
        font-size: 55px;
    }
}

@media (min-width: 1200px)
{
    font.number_of_table, font.choose_table
    {
        font-size: 55px;
    }
}