div.table, div.table_title, button.bring_dish
{
    border: 2px solid #3F9384;
    border-radius: 8px;
}

font.table_name
{
    font-size: 40px;
    font-family: Times, serif;
    color: white;
}

div.table_title
{
    background: #3F9384;
}

p
{
    font-size: 25px;
    font-family: Times, serif;
}

div.bring_dish
{
    font-size: 20px;
    font-family: Times, serif;
}

.increase_size
{
    width: 20px;
    height: 20px;
}

font.status-of-dish
{
    color: #3F9384;
}

div.time
{
    border: 2px solid black;
    height: 25px;
}

.order_info
{
    font-size: 20px;
    font-family: Times, serif;
}

@media (min-width: 576px)
{
    p
    {
        font-size: 14px;
        font-family: Times, serif;
    }
}

@media (min-width: 768px)
{
    p
    {
        font-size: 17px;
        font-family: Times, serif;
    }
}

/* в нижних медиа поставить */
@media (min-width: 992px)
{
    p
    {
        font-size: 25px;
        font-family: Times, serif;
    }
}

@media (min-width: 1200px)
{
    p
    {
        font-size: 25px;
        font-family: Times, serif;
    }
}