<body>
<nav class="navbar navbar-expand">
    <div class="container">
        <img src="/img/tasty-house-logo.png" class="tasty-house">
        <font class="title">Официант</font>
        <div>
            <a><u class="user">Victor</u></a>
            <div class="dropdown float-right ml-2">
                <span style="color: white">
                    <i class="fas fa-bars menu" data-toggle="dropdown"></i>
                </span>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div>
        </div>
    </div>
</nav>